   #########################################################################################
     This is ABC production server, only authorized user can access this.
     If you are not authorized then logout right away.
     Server name - {{ inventory_hostname }}
   #########################################################################################
